.io-amap__content {
	.ant-modal-content {
		width: 880px;
		height: 654px;
		.ant-modal-body {
			padding: 48px 24px 0 24px;
		}
		.ant-modal-close-x {
			position: relative;
			.ant-modal-close-icon {
				position: absolute;
				top: 15px;
			}
		}
	}
}
