.io-master__header-site {
	.ant-drawer-header-no-title {
		margin-bottom: 20px;
	}
	.ant-drawer-content-wrapper {
		min-width: 368px;
		max-width: 720px;
		width: auto !important;
	}
	.io-master_hader-site_search {
		margin: 20px 0;
		p {
			margin-bottom: 10px;
		}
		.io-master_hader-site_select {
			display: flex;
			.ant-input-search-button {
				background: #1c6cd8;
				color: #fff !important;
				border: 1px solid #1c6cd8;
			}
		}
	}
	// .ant-drawer-header-no-title .ant-drawer-close{
	// 	display: none;
	// }
	.io-master_hader-site_common-site {
		border-bottom: 1px solid #eeeeee;
	}
	.ant-tree-node-content-wrapper-normal {
		white-space: nowrap;
	}
	.io-master_hader-tree {
		height: 67vh;
		overflow-y: auto;
		scrollbar-width: none;
		-ms-overflow-style: none;
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.ant-tree-switcher_open {
		&:first-child {
			display: none;
		}
	}
	.io-master_hader-site_new {
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		color: #262626;
		margin-bottom: 10px;
	}
	.io-master_hader-site_check {
		cursor: pointer;
		&:hover {
			background: #f5f5f5;
		}
	}
}
