.io-cms-user__biztable-username {
	width: 100px;
	display: block;
	overflow: hidden; /*超出部分隐藏*/
	white-space: nowrap; /*不换行*/
	text-overflow: ellipsis; /*超出部分文字以...显示*/
}

.io-cms-user-form__bizmodalform {
	.ant-modal {
		width: 580px !important;
		height: 639px !important;
		.ant-modal-body {
			padding-bottom: 0;
			padding-top: 18px;
			.ant-form-item-control-input {
				width: 352px !important;
			}
		}
		.ant-modal-footer {
			padding-top: 0;
		}
	}
}
