.io-cms-test-base-mangement-move__modal {
	width: 496px !important;
	height: 630px !important;
	.ant-modal-body {
		padding-bottom: 0;
		padding-top: 16px;
		p {
			width: 74px;
			height: 14px;
			font-size: 14px;
			font-family: PingFang SC;
			font-weight: 400;
			color: #8c8c8c;
			line-height: 30px;
		}
		.io-cms-test-mangement-move__div {
			padding: 24px;
			width: 448px;
			height: 448px;
			border: 1px solid #f0f0f0;
			.ant-radio-wrapper {
				margin-top: 0 !important;
			}
		}
	}
}
