.io-cms-content-list-search {
	.io-cms-content-list-search-bottom {
		width: 100%;
		height: 1px;
		border: 1px solid #f0f0f0;
		margin-top: -8px;
		margin-bottom: 12px;
	}
}
.io-cms-content-pro-list-container {
	.io-cms-content-pro-list-header {
		margin-left: -24px;
		.io-cms-content-pro-list-hearder-options {
			margin-left: 24px;
		}
		// .io-cms-content-pro-list-hearder-options:first-child {
		// 	margin-left: 16px;
		// }
	}
	.ant-pro-list-row {
		width: 100%;
		height: 117px;
		background: #ffffff;
		border: 1px solid #f0f0f0;
		padding: 0px;
		margin-bottom: 24px;
		.ant-pro-list-row-header-option {
			margin-left: 24px;
		}
		.ant-list-item {
			.ant-pro-list-row-header {
				.ant-pro-list-row-header-option {
					margin-top: -5px;
					.ant-pro-list-row-checkbox {
						.ant-checkbox-wrapper {
							margin-top: -17px;
							border-bottom: 1px solid #f0f0f0;
							margin-left: -24px;
							background: #fafafa;
							height: 35px;
							line-height: 35px;
							width: 53px;
							text-align: center;
							padding-top: 1px;
							padding-left: 10px;
						}
					}
				}
			}
		}
		.ant-list-item-meta {
			.ant-list-item-meta-title {
				height: 36px;
				background: #fafafa;
				border: 1px solid #f0f0f0;
				border-left: none;
				line-height: 36px;
				margin-top: -13px;
			}
			.ant-list-item-meta-description {
				margin-top: 24px;
				margin-left: -28px;
				.ant-pro-list-row-description {
					.io-cms-content-pro-list-meta-desc {
						.io-cms-content-pro-list-meta-desc__div {
							width: 73px;
							height: 32px;
							display: inline-block;
							background: #eff6ff;
							border-radius: 2px;
							line-height: 32px;
							text-align: center;
							.io-cms-content-pro-list-meta-desc-div-text__span {
								font-size: 14px;
								font-family: PingFang SC;
								font-weight: 400;
								color: #1c6cd8;
								line-height: 22px;
							}
						}
						.io-cms-content-pro-list-meta-desc-count {
							.count-icon__span {
								margin-left: 24px;
							}
						}
					}
				}
			}
		}
		.ant-list-item-action {
			margin-top: 46px;
		}
	}
	.ant-pro-list-row:last-child {
		border-bottom: 1px solid #f0f0f0;
	}
}
