.io-cms-practice-base__detail {
	margin-top: 12px;
	.ant-form-item-control-input-content {
		display: flex;
	}
	.io-cms-base-create-from-item__rich-text-editor {
		.io-libs-rich-text-editor {
			margin-top: 10px;
			width: 902px;
			height: 399.8px;
		}
	}
	.io-cms-practice-base-create__div {
		position: relative;
		.io-cms-practice-base-create__div-button {
			position: absolute;
			right: 445px;
			top: 0;
			width: 60.9px;
			height: 32px;
		}
	}
}
