.io-cms-site-save-expand__but {
	margin-left: 8px;
}
.io-biz-page {
	.io-biz-page__body {
		.io-site__form {
			margin-top: 32px;
		}
	}
}
.io-cms-site-create-domain-delete__but {
	display: inline-block;
	margin-left: 8px;
	background: #ffffff;
	border-radius: 2px;
}
