.io-sider {
  .io-sider__logo {
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 40px;

    background: rgba(255, 255, 255, 0.2);

    color: #fff;
  }
}
