.io-logo {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 120px;
  height: 31px;
  margin: 16px 28px 16px 0;

  background: rgba(255, 255, 255, 0.2);

  color: #fff;
}
