.io-cms-practice__button {
	margin-left: 8px;
}
.io-cms-practice-form {
	margin-top: 32px;
	.io-cms-practice-form__item {
		width: 664px;
	}
	.io-cms-practice-add__button {
		width: 664px !important;
	}

	.io-cms-practice-add__input {
		width: 328px;
		height: 32px;
	}
	.ant-form-item-control-input-content {
		display: flex;
		.io-cms-practice-form__item-address {
			width: 604.1px;
			height: 32px;
		}
	}
	.io-cms-practice-form__item-button {
		width: 60.9px;
		height: 32px;
	}
	.io-amap__content {
		width: 880px !important;
		display: inline-block;
		.ant-modal-content {
			width: 880px;
			height: 654px;
			.ant-modal-body {
				padding: 48px 24px 0 24px;
			}
			.ant-modal-close-x {
				position: relative;
				.ant-modal-close-icon {
					position: absolute;
					top: 15px;
				}
			}
		}
	}
	.io-cms-site-create-form-item_InputArea {
		width: 664px;
		height: 150px;
	}
	.io-cms-site-create-from-item__rich-text-editor {
		.io-libs-rich-text-editor {
			width: 902px;
			height: 399.8px;
		}
	}
}
