.io-cms-practice-form {
	margin-top: 32px;

	.ant-form-item-control-input-content {
		display: flex;
	}
	.io-cms-site-create-form-item_InputArea {
		width: 664px;
		height: 150px;
	}
	.io-cms-practice-base-create-from-item__rich-text-editor {
		.io-libs-rich-text-editor {
			margin-top: 10px;
			width: 902px;
			height: 399.8px;
		}
	}
}
