.io-cms-mail-serve__modal {
	width: 539px !important;
	height: 423px !important;
	.ant-modal-body {
		padding-bottom: 0;
		.ant-form-item-control-input {
			width: 352px;
			.ant-input-affix-wrapper-textarea-with-clear-btn {
				width: 352px;
				height: 150px;
			}
		}
	}
	.ant-modal-footer {
		padding-top: 0;
	}
	.ant-form-item-label {
		width: 94px;
	}
}
