@import '~antd/es/style/themes/default.less';
.io_cms_role_authority-site {
	.ant-btn {
		margin-top: 10px;
	}
	.io_cms_role_authority-site_check {
		margin: 20px 0;
	}
	.io_cms_role_authority-site_title {
		display: flex;
		align-items: center;
		i {
			margin-right: 10px;
		}
		.active {
			color: @primary-color;
		}
	}
}
